<!DOCTYPE html>
<html>
<head>
    <vc:aiur-header></vc:aiur-header>
    <title>@ViewData["Title"] - bopoda</title>
    @this.UseAiurMarketCss()
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-white bg-white fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">bopoda</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" asp-controller="Dashboard" asp-action="Index">@Localizer["Dashboard"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">@Localizer["Price"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">@Localizer["API"]</a></li>
                </ul>
                <div class="form-inline">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="bd-footer text-muted">
        <div class="container-fluid p-3 p-md-5">
            <p>
                &copy; @DateTime.Now.Year - bopoda
            </p>
        </div>
    </footer>
    <vc:scroll-to-top></vc:scroll-to-top>
    @this.UseAiurMarketJs()
    @RenderSection("js", required: false)
</body>
</html>