@model BopodaMVPPlatform.Models.HomeViewModels.IndexViewModel
@using Microsoft.Extensions.Configuration
@using System.Reflection
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron">
    <div class="container">
        <h3>Welcome to bopoda MVP!</h3>
        @{
            var description = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyDescriptionAttribute>().Description;
        }
        <p>@Localizer[description]</p>
        <div class="btn-group" role="group">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary btn-lg" asp-controller="Dashboard" asp-action="AllOrgs" role="button">
                    <i class="fa fa-magic"></i>
                    @Localizer["Go to dashboard"]
                </a>
            }
            else
            {
                <a class="btn btn-primary btn-lg" asp-controller="Session" asp-action="SignIn" role="button">
                    <i class="fa fa-pencil"></i>
                    @Localizer["Sign in to your personal storage"]
                </a>
            }
        </div>
    </div>
</div>
<main role="main" class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">@Localizer["Pricing"]</h1>
        <p class="lead">@Localizer["Quickly upload anything to share it with anyone. Create a one-time link to share a secret file and view log to statistic file download times."]</p>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Everyone"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Localizer["$0"]</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["30Mb file size limit"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["30 days limit"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["All files public"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No download log"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No custom domain"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["Shared storage with others"]
                    </li>
                </ul>
                <button onclick="$('html, body').animate({ scrollTop: 0 }, 1000, 'easeInOutExpo');" class="btn btn-lg btn-block btn-outline-primary">@Localizer["Upload now"]</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Basic"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Localizer["$0"]</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["2Gb file size limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["365 days limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Private site supported"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No download log"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["No custom domain"]
                    </li>
                    <li>
                        <i class="fa fa-times text-danger"></i>
                        @Localizer["Your personal storage"]
                    </li>
                </ul>
                <a asp-controller="Dashboard" asp-action="Index" class="btn btn-lg btn-block btn-secondary">@Localizer["Sign in"]</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">@Localizer["Developer"]</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">@Localizer["$0.1"] <small class="text-muted">@Localizer["/ mo / GB"]</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["2Gb file size limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["No time limit"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Private site supported"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Download logs"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Custom domain supported"]
                    </li>
                    <li>
                        <i class="fa fa-check text-success"></i>
                        @Localizer["Multiple customizable storage"]
                    </li>
                </ul>
                <a href="@ServiceLocation.Wiki/Integrated%20Website/Getting%20Started.md" class="btn btn-lg btn-block btn-success">@Localizer["Get started"]</a>
            </div>
        </div>
    </div>

</main>

